div{
    font-family: Oswald; sans-serif;
    width: 300px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 15px;
}
img{
    border-radius: 100%;
}