*{
    margin: 0;
}
body{
    background-image: url(/exercice15/image_book.jpeg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgba(248, 244, 244, 0.842);
}
a{
    color: rgba(248, 244, 244, 0.842);
    text-decoration: none;
}
#Liens{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 60%;
    height: 200px;
}
.body{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 50px;
    margin-left: 100px;
}
#border{
    border: 1px solid rgba(248, 244, 244, 0.842);
}
#portrait{
    font-style: italic;
    height: 50px;
    margin-left: 200px;
    margin-top: 40px;
    font-size: 2em;
    font-weight: bold;
    }
#bouton{
    background-color: rgb(27, 131, 120);
    height: 40px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    margin-left: 300px;
    line-height: 35px;
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px black;   
}