.circle{
    border: 7px solid #4a4a4c;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: -20px;
}

#container{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    color: red;
    font-family: 'Audiowide', cursive;
}
